@import url('https://fonts.googleapis.com/css?family=Roboto:100i.ttf');

$btnSize: 70px;
$mainRadiusSize: 4px;
$mainWidth: $btnSize * 4;
$primary-color: #222233;
$secondary-color: #AFCCFF;
$default-font : 'Roboto';

